<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon_rank.mapper.user.UserInfoMapper">

    <select id="getUserInfoById" resultType="map">
        select * from rank_user where user_token = #{id}
    </select>
    <select id="getAllUserInfo" resultType="map">
        select * from rank_user
    </select>
</mapper>